################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Project2/v15
/.vs/Unhallowed/v15
/.vs/Unhallowed/v15
/.vs
/.vs
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/Debug/Project2.tlog
/Debug/Alpha_Engine_D.dll
/Debug/Animation.obj
/Debug/AnimationSequence.obj
/Debug/Engine.obj
/Debug/GameStateLevel1.obj
/Debug/GameStateLevel2.obj
/Debug/GameStateManager.obj
/Debug/GameStateStub.obj
/Debug/GameStateTable.obj
/Debug/glew32.dll
/Debug/Main.obj
/Debug/Mesh.obj
/Debug/Physics.obj
/Debug/Project2.exe
/Debug/Project2.ilk
/Debug/Project2.pch
/Debug/Project2.pdb
/Debug/Sprite.obj
/Debug
