################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Project2/v15
/.vs/Unhallowed/v15
/.vs/Unhallowed/v15
/.vs
/.vs
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
